#grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  background-color: #343aeb;
  header {
    grid-area: header;
  }
  #aside {
    grid-area: aside;
    background-color: lightgrey;
    margin: 10px;
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 20px;
    .biografia {
      margin: 10px;
      display: flex;
      flex-direction: column;
      height: auto;
      width: auto;
      color: black;
      h1 {
        margin: 20px;
        text-align: center;
      }
      p {
        margin: 20px;
      }
      li {
        list-style-type: none;
        margin: 10px;
      }
      .contenedorfotocontacto {
        @include flex();
        .fotocontacto {
          height: auto;
          width: 70%;
          margin: 10px;
        }
      }
    }
  }

  footer {
    grid-area: footer;
  }
}

#contacto {
  background-color: $colorprincipal;
  grid-area: main;
  h1 {
    text-align: center;
    font-size: 4em;
    padding: 50px;
    font-weight: bold;
    color: black;
  }
  h2 {
    text-align: left;
    font-size: 2em;
    padding: 30px;
    font-weight: bold;
    color: black;
  }
  #listacontacto {
    margin-bottom: 50px;
    ul {
      margin: 0px;
      padding-bottom: 10px;
    }

    ul li {
      margin: 30px;
      margin-left: 0px;
      font-size: 1.2em;
      list-style-type: none;
      padding: 10px;
      color: black;
      display: flex;
      align-items:center;
      flex-direction: row;
      a {
        text-decoration: none;
        color: black;
        display: flex;
        font-size: 1.2em;
        margin:0px;
        &:hover{
          text-decoration:underline;
        }
      }
      img {
        width: 4em;
        height: 4em;
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  #grid {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
    #aside {
      background-color: $colorprincipal;
    }
  }

  #listacontacto ul li {
    font-size: 1.5em;
    padding: 20px;
}
}
@media (max-width: 576px) {
  #contacto {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.7em;
    }
  }
  #listacontacto {
    img {
      width: 3em;
      height: 3em;
      margin-right: 10px;
    }

      ul {
        padding-left: 0em ;
      }

      li {
        font-size:5px;
        font-weight: bold;
        margin-left: 0px;
        padding: 10px 0px 10px 0px;
      }
    }
  }

 
