.navbar {
  background-color: grey;
  padding: 20px;
  .container-fluid {
    padding-left: 0px;
    .navbar-brand {
      height: 100px;
      width: 100px;
      padding: 0px;
      margin: 0px;
      .logonav {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.navbar-expand-md {
  padding: 0px;
}

.nav-link {
  color: black;
  font-size: 1.5em;
  &:hover {
    text-decoration: underline;
    font-size: 1.6em;
  }
}
