#grid1 {
  background-color: $colorprincipal;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header1"
    "main1"
    "footer1";
  header {
    grid-area: header1;
  }
  #inicio {
    grid-area: main1;
  }
  footer {
    grid-area: footer1;
  }
}

#presentacion {
  flex-direction: column;
  background-image: url("../imageneshorizonte/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  .contenedorinicio {
    display: none;
  }
}
#video {
  h2 {
    color: black;
    text-align: center;
    font-size: 70px;
    padding-top: 30px;
  }
  div {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
  }
}
/*cambiar banner*/
@media (max-width: 1169px) {
  #presentacion {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../imageneshorizonte/taller1.jpeg");
    .contenedorinicio {
      display: block;
    }
    h1 {
      font-weight: bold;
      text-align: center;
      color: $colorprincipal;
      font-size: 8em;
      margin-bottom: 2em;
      padding-top: 1em;
    }
    h2 {
      font-weight: bold;
      color: $colorprincipal;
      font-size: 5em;
      margin: 30px;
      text-align: center;
    }
  }
}
/*tablet inicio*/
@media (max-width: 768px) {
  #presentacion {
    h1 {
      font-size: 5em;
      margin-bottom: 2em;
      h2 {
        font-size: 4em;
      }
    }
  }
  #video h2 {
    font-size: 3em;
  }

  .nav-link {
    margin-left: 5px;
  }
}
/*mobile inicio*/
@media (max-width: 576px) {
  #presentacion {
    height: 50vh;
    h1 {
      font-size: 3.2em;
    }
    h2 {
      font-size: 2em;
    }
  }
}
