#ofrecemos {
  background-color: $colorprincipal;
  height: auto;
  h1 {
    text-align: center;
    font-size: 5em;
    padding: 30px;
    font-weight: bold;
    color: black;
  }
}
@media (max-width: 768px) {
  #ofrecemos {
    height: auto;
    h1 {
      font-size: 4em;
    }
  }

  .contenedor {
    flex-direction: column;
    align-items: center;
    .servicios {
      width: 80%;
      height: auto;
      margin: 10px;
      .servimg img {
        height: 13em;
        width: 80%;
        margin: 20px;
      }
    }
  }
}
@media (max-width: 576px) {
  #ofrecemos h1 {
    font-size: 3em;
  }
}
