#ofrecemos {
  background-color: #343aeb;
  height: 150vh;
  h1 {
    text-align: center;
    font-size: 5em;
    padding: 30px;
    font-weight: bold;
    color: black;
  }
}
@media (max-width: 768px) {
  #ofrecemos {
    height: auto;
    h1 {
      font-size: 4em;
    }
  }

  .contenedor {
    flex-direction: column;
  }

  .servicio1 {
    width: auto;
    height: auto;
    margin: 10px;
    .serv1img img {
      height: 13em;
      width: 80%;
      margin: 20px;
    }
  }
  .servicio2 {
    width: auto;
    height: auto;
    margin: 10px;
    .serv2img img {
      height: 13em;
      width: 80%;
      margin: 20px;
    }
  }
  .servicio3 {
    width: auto;
    height: auto;
    margin: 10px;
    .serv3img img {
      height: 13em;
      width: 80%;
      margin: 20px;
    }
  }
  .servicio4 {
    width: auto;
    height: auto;
    margin: 10px;
    .serv4img img {
      height: 13em;
      width: 80%;
      margin: 20px;
    }
  }
}
@media (max-width: 576px) {
  #ofrecemos h1 {
    font-size: 3em;
  }
}
