#linktienda {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 4em;
    width: 30em;
    border-radius: 20px;
    font-size: 1.3em;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    &:hover {
      background-color: lightgrey;
    }
  }
}
