.contenedor {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: space-evenly;
}
.servicios {
  background: rgb(78, 82, 105);
  background: linear-gradient(
    149deg,
    rgba(78, 82, 105, 1) 20%,
    rgba(102, 122, 151, 1) 48%,
    rgba(148, 187, 233, 1) 71%,
    rgba(148, 187, 233, 0.8295693277310925) 100%
  );
  box-shadow: 0px -2px 24px 3px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px -2px 24px 3px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px -2px 24px 3px rgba(0, 0, 0, 0.32);
  color: black;
  width: 20%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  h2 {
    margin: 20px;
    font-size: 1.6em;
    font-weight: bold;
  }
  p {
    font-size: 1em;
    margin: 10px;
  }
  .servimg {
    @include flex();
    align-items: flex-end;
    height: 60%;
    margin-bottom: 30px;
  }
  .servimg img {
    height: 9em;
    width: 90%;
    border-radius: 15px;
  }
}

#productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    background-color: lightgrey;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 0px -2px 24px 10px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px -2px 24px 10px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px -2px 24px 10px rgba(0, 0, 0, 0.32);
    h2 {
      font-size: 1.7em;
      font-weight: bold;
      margin: 10px;
      text-align: center;
    }
    p {
      font-size: 1.5em;
      text-align: center;
      margin: 10px;
    }
  }
  .productofoto {
    @include flex();
    margin: 10px;
    img {
      margin-bottom: 50px;
      height: 90%;
      width: 90%;
      transition: height 2s, width 2s;
      &:hover {
        height: 100%;
        width: 100%;
      }
    }
  }
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  margin: 25px;
}
@media (max-width: 768px) {
  #productos {
    flex-direction: column;
    align-items: center;
    .producto {
      height: auto;
      width: 80%;
      margin: 10px;
    }
  }
}
