.contenedor {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: space-evenly;
}
.servicios {
  background-color: grey;
  color: black;
  width: 20%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  display:flex;
  flex-direction:column;
  margin-bottom:30px;
  h2 {
    margin: 20px;
    font-size: 1.6em;
    font-weight:bold;
  }
  p {
    font-size: 1em;
    margin: 10px;
  }
  .servimg{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    height: 60%;
    margin-bottom:30px;
    
  }
  .servimg img {
    height: 9em;
    width: 90%;
    border-radius: 15px;
  }
}


#productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    background-color: lightgrey;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        p{ 
      font-size: 1.5em;
      text-align: center;
      margin: 10px;
    }
    }
    .productofoto {
      display: flex;
      justify-content: center;
      margin: 10px;
      img {
        height: 80%;
        width: 90%;
      }
}
}
  a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    margin: 25px;
  }

